<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drużynka G</title>
     {% load static %}



</head>
<body>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}" >
<div id="nav">
<img src="{% static 'img/logo.png' %}">
<a href="{% url 'aktualnosci' %}"><span class="nav">Aktualności</span></a>
<a href="{% url 'sekcje' %}"><span class="nav">Sekcje</span></a>
<a href="{% url 'harmonogram' %}"><span class="nav">Harmonogram</span></a>
</div>
<div id="container">
<div class="container-fluid">
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div  class="col-md-10 col-xs-10 col-sm-10">
    <h3 class="round3" style="text-align:center;">Aktualności</h3>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
 </div>

 <br/>
 {% for post in post_list %}
  <div class="row">
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div class="col-md-7 col-xs-7 col-sm-7">
    <ul class="list-group">

       <li class="list-group-item ">
     <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>  <span class="badge"></span>
    </li>
     </ul>
    <br>
   </div>
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
  </div>
 {% endfor %}
</div>
</div>


</body>
</html>
