<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drużynka G</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    {% load static %}
    
   
</head>
<body>
<div id="nav">
    <img src="{% static 'img/logo.png' %}">
    <a href="{% url 'aktualnosci' %}"><span class="nav">Aktualności</span></a>
    <a href="{% url 'sekcje' %}"><span class="nav">Sekcje</span></a>
    <a href="{% url 'harmonogram' %}"><span class="nav">Harmonogram</span></a>
    </div>
</div>
<div id="container">
Blah
</div>


</body>
</html>
