<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drużynka G</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    {% load static %}
    
   
</head>
<body>
<div id="nav">
    <img src="{% static 'img/logo.png' %}">
    <a href="{% url 'aktualnosci' %}"><span class="nav">Aktualności</span></a>
    <a href="{% url 'sekcje' %}"><span class="nav">Sekcje</span></a>
    <a href="{% url 'harmonogram' %}"><span class="nav">Harmonogram</span></a>
    </div>
</div>
<div id="container">

     <table style ="border: 1px solid black;">
<tr style ="border: 1px solid black;">
    <td style ="border: 1px solid black;"><h2> Data </h2></td>	<td style ="border: 1px solid black;"><h2> Nazwa </h2></td> <td style ="border: 1px solid black;"><h2> Szczegóły </h2></td>
</tr>
 {% for objekt in kalend %}
<tr>
	<td style ="border: 1px solid black;"> {{ objekt.date }} </td>	<td style ="border: 1px solid black;"> {{ objekt.event }} </td> <td style ="border: 1px solid black;"> {{ objekt.event.details }} </td>
</tr>


 {% endfor %}


</table>
</div>


</body>
</html>
