<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drużynka G</title>
    <link rel="stylesheet" href="../../static/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   
</head>
<body>
<div id="nav">
    {% load static %}

<img src="{% static 'img/logo.png' %}">
<a href="{% url 'aktualnosci' %}"><span class="nav">Aktualności</span></a>
<a href="{% url 'sekcje' %}"><span class="nav">Sekcje</span></a>
<a href="{% url 'harmonogram' %}"><span class="nav">Harmonogram</span></a>
</div>
<div id="container">


<div class="container-fluid">
<div class="row"></div>
<br/>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1">
    </div>
 <div class="col-md-8 col-xs-8 col-sm-8">
  <p class="h2">
   {{post.title}}
  </p>
    </div>
 <div class="col-md-1 col-xs-1 col-sm-1">
  <a href="{% url 'edit' post.pk %}">
   <button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-pencil"></span>
   </button>
  </a>
 </div>
 <div class="col-md-1 col-xs-1 col-sm-1">
  <a href="{% url 'delete' post.pk %}">
   <button type="button" class="btn btn-danger">
    <span class="glyphicon glyphicon-trash"></span>
   </button>
  </a>
 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
 <div class="col-md-10 col-xs-10 col-sm-10">
 {{post.message}}
 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
</div>



</div>


</body>
</html>
